RECIPIENT="admin@localhost"
FROM_EMAIL="admin@localhost"
USE_SMTP="True" # Use an empty string for False, anything else for True
MAIL_HOST="localhost"
MAIL_PORT=25
MAIL_USER="user"
MAIL_PASS="password"
MAIL_SUBJECT="New episodes have been found!"
FULL_RICH_MAIL=""

MAX_TORRENTS=10 # Max number of torrents per request to EZTV
# lower value results in smaller, but possibly more, responses

SHOW_LIST="XYZ,ABC" # A comma seperated list of the shows you want to watch for
# This is typically the first part of the torrent title (i.e. XYZ S01E01 => "XYZ")
# Please leave no spaces after the comma

API_ROOT="https://eztv.ag/api/get-torrents"
